@model ChalangeYourself.Website.Models.HomePageViewModel

<div class="container">
    <div class="row">
        <div class="col">
            <h2>Žebříček uživatelů</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Místo</th>
                        <th scope="col">Jméno</th>
                    </tr>
                </thead>
                <tbody>
                    @{int userPosition = 1;}
                    @foreach (var user in Model.UserRanks)
                    {
                        <tr>
                            <th scope="row">@userPosition</th>
                            <td>@user.UserId</td>
                            <td>@user.Username</td>@*TODO:Možnost rozkliknout uživatele*@
                            <td>@user.Points</td>
                        </tr>
                        userPosition++;
                    }
                </tbody>
            </table>
            @Html.ActionLink("Celý žebříček", "Rank", "Home")
            <h2>Žebříček nových chalangý</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Místo</th>
                        <th scope="col">Jméno</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ProposalChalangesRanks.Count == 0)
                    {
                        <tr>
                            <th>Zatím zde nejsou žádné záznamy</th>
                        </tr>
                    }
                    else
                    {
                        int chalangePosition = 1;
                        foreach (var chalange in Model.ProposalChalangesRanks)
                        {
                            <tr>
                                <th scope="row">@chalangePosition</th>
                                <td>@chalange.ProposalChalangeId</td>
                                <td>@chalange.ChalangeName</td>@*TODO:Možnost rozkliknout chalange*@
                                <td>@chalange.Points</td>
                            </tr>
                            chalangePosition++;
                        }
                    }
                </tbody>
            </table>
            @if (User.Identity.IsAuthenticated)
            {
                @Html.ActionLink("Navrhni výzvu", "AddProposalChalange", "Home")
            }

        </div>
        <div class="col">
            @{
                for (int i = 0; i < Model.Chalanges.Count; i += 2)
                {
                    var chalange1 = Model.Chalanges[i];
                    var chalange2 = Model.Chalanges[i + 1];
                    <div class="row">
                        <div class="col">
                            <img src="@Url.Content(chalange1.ChalangeImageUrl)" alt="Image" id="@chalange1.ChalangeId" width="150" height="150"/>
                            <div>
                                @chalange1.FinishAt
                            </div>
                            <button>Přidej se k výzvě</button>
                        </div>
                        <div class="col">
                            <img src="@Url.Content(chalange2.ChalangeImageUrl)" alt="Image" id="@chalange2.ChalangeId" width="150" height="150"/>
                            <div>
                                @chalange2.FinishAt
                            </div>
                            <button>Přidej se k výzvě</button>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>