@model ChalangeYourself.Website.Models.HomePageViewModel

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2>Žebříček uživatelů</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Místo</th>
                        <th scope="col">Jméno</th>
                    </tr>
                </thead>
                <tbody>
                    @{int userPosition = 1;}
                    @foreach (var user in Model.UserRanks)
                    {
                        <tr>
                            <th scope="row">@userPosition</th>
                            <td style="display: none;">@user.UserId</td>
                            <td>@Html.ActionLink(user.Username, "UserProfile", "User", new { userId = user.UserId },null)</td>
                            <td>@user.Points</td>
                        </tr>
                        userPosition++;
                    }
                </tbody>
            </table>
            @Html.ActionLink("Celý žebříček", "Rank", "Home")
            <h2>Žebříček nových chalangý</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Místo</th>
                        <th scope="col">Jméno</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ProposalChalangesRanks.Count == 0)
                    {
                        <tr>
                            <th>Zatím zde nejsou žádné záznamy</th>
                        </tr>
                    }
                    else
                    {
                        int chalangePosition = 1;
                        foreach (var chalange in Model.ProposalChalangesRanks)
                        {
                            <tr>
                                <th scope="row">@chalangePosition</th>
                                <td style="display: none;">@chalange.ProposalChalangeId</td>
                                <td>@chalange.ChalangeName</td>@*TODO:Možnost rozkliknout chalange*@
                                <td>@chalange.Points</td>
                            </tr>
                            chalangePosition++;
                        }
                    }
                </tbody>
            </table>
            @if (User.Identity.IsAuthenticated)
            {
                @Html.ActionLink("Navrhni výzvu", "AddProposalChalange", "Home")
            }

        </div>
        <div class="col">
            <table>
                @{
                    for (int i = 0; i < Model.Chalanges.Count; i += 2)
                    {
                        var chalange1 = Model.Chalanges[i];
                        var chalange2 = Model.Chalanges[i + 1];
                        <tr>
                            <td>
                                <img src="@Url.Content(chalange1.ChalangeImageUrl)" alt="Image" id="@chalange1.ChalangeId" width="150" height="150" />
                                <div>
                                    @chalange1.FinishAt
                                </div>
                                @Html.ActionLink("Přidej se k výzvě", "ChalangeDetail", "Chalange", new { chalangeId = chalange1.ChalangeId }, null)
                            </td>
                            <td>
                                <img src="@Url.Content(chalange2.ChalangeImageUrl)" alt="Image" id="@chalange2.ChalangeId" width="150" height="150" />
                                <div>
                                    @chalange2.FinishAt
                                </div>
                                @Html.ActionLink("Přidej se k výzvě", "ChalangeDetail", "Chalange", new { chalangeId = chalange2.ChalangeId }, null)
                            </td>
                        </tr>
                    }
                }
            </table>
            @Html.ActionLink("Najdi jinou výzvu", "Index", "Chalange")
        </div>
    </div>
</div>