<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @Scripts.Render("~/bundles/jquery") @*Musí být první includovanej (před css)*@
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Domů", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Chalange", "Index", "Chalange")</li>
                    <li>@Html.ActionLink("Žebříček", "Rank", "Home")</li>
                    @if (User.IsInRole("admin"))
                    {
                        <li class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Administrátorské rozhraní
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">@Html.ActionLink("Správa uživatelů", "UsersManagement", "Admin")</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">@Html.ActionLink("Správa chalangý", "ChalangeManagement", "Admin")</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">@Html.ActionLink("Správa nových chanalgý", "ProposalChalangeManagement", "Admin")</a>
                            </div>
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                <div class="col"><p>@Html.ActionLink("O nás", "About", "Home")</p></div>
                <div class="col"><i style="font-size:24px" class="fa">&#xf230;</i></div>
            </div>
            <div class="row">
                <div class="col"><p>@Html.ActionLink("Kontakt", "Contact", "Home")</p></div>
                <div class="col"><i style="font-size:24px" class="fa">&#xf16d;</i></div>
            </div>
        </footer>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @*<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    @*<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>*@
    @RenderSection("scripts", required: false)
</body>
</html>
