@model ChalangeYourself.Website.Models.UserProfileViewModels
<div>
    <h4>@Model.Username</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Points)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Points)
        </dd>
        <dl>
            @foreach (var interest in Model.Interests)
            {
            <dd>
                @interest.Name
            </dd>
            }
        </dl>
    </dl>
</div>
